body {
  background: lightblue;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
  text-align: center;
}
.main_heading {
  align-items: center;
  align-content: center;
}
.main_heading_text {
  text-align: center;

  font-family: "Anton", sans-serif;
  font-size: 56px;
}

.form_stuff {
  text-align: center;
  display: inline-block;
}
